*{
  margin: 0;
  padding: 0;
}
.App {
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  max-height: 100%;
  transition: all 300ms linear;
  background-image: url('./assets/images/background.jpeg');
  background-size: cover;
  background-repeat: repeat-y;
}
main{
  flex: 1 0 90vh;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
Link {
  cursor: pointer;
}
Link:hover {
  text-decoration: none;
}
::selection {
  color: #21117f;
  background-color: white;
}
::-moz-selection {
  color: #21117f;
  background-color: white;
} 
.App-header {
  justify-self: flex-end;
  flex: 0 0 10vh;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header nav{
  /* align-self: flex-end; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  align-items: center;
  border-radius: 2em;
  mix-blend-mode: luminosity;
  margin: 0 25px;
}
.App-header nav .nav-item{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 5px;
}
.App-header nav .nav-item:hover{
  background-color: #866BAF;
  border:none;
  border-radius: 5px;
  /* max-height:3vh; */
}

.hero-section {
  width: 100%;
  height: 90vh;
  text-align: center;
  transform: scale(1) rotateX(0);
  transition: all 300ms linear;
  transition-delay: 400ms;
  transform-origin: center top;
}
.hero-section .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.row{
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.hero-section .my-image{
width: 300px;
height: 300px; 
border: none;
border-radius: 50%;
box-shadow: 1px 3px 5px black;
}
.hero-section h1{
  color: #fff;
  font-size: 5vw;
  line-height: 1;
  font-weight: 900;
text-align: center;
}
.dancing{
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
  color: #866BAF;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
text-align: center;
}
@media screen and (max-width: 580px){
  .hero-section .dancing{
      font-size: 18px;
  }
}
.hero-section p{
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
text-align: center;
}
.hero-section p span{
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 35px;
}
.hero-section p span:before {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  background-image: url('http://www.ivang-design.com/svg-load/portfolio/down.svg');
  opacity: 0.2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.hero-section p span:hover:before {
  opacity: 1;
  bottom: 5px;
}

.about-close,
.skills-close,
.projects-close {
  width: 30px;
  display: block;
  float: right;
  overflow: hidden;
  height: 30px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;
  /* background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg'); */
  background-image: url("./assets/images/close-circle-svgrepo-com\ \(1\).svg");
  cursor: pointer;
  margin-right: 10px;
  /* z-index: 11; */
}

.about-close:hover,
.skills-close:hover,
.projects-close:hover {
  transform: rotate(90deg);
}

.about-section{
  flex: 1 0 100vh;
  height: 90vh;
  max-height: 100%;
}
.about-section .container{
  flex: 1;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* align-items: center; */
}
.about-section .container .row{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .resume-btn{
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.about-section .SocialMediaLinks{
  display: flex;
  gap:1vw;
}
.about-section .SocialMediaLinks a{
  text-decoration: none;
}
.about-section .SocialMediaLinks .linkedin-link{
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("./assets/images/linkedin-svgrepo-com.svg");
  background-size: 36px 36px;
  border: 1px solid black;
}
.about-section .SocialMediaLinks .github-link{
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("./assets/images/github-color-svgrepo-com.svg");
  background-size: 36px 36px;
  border: 1px solid black;
}
.about-section .SocialMediaLinks .email-link{
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("./assets/images/email-svgrepo-com.svg");
  background-size: 36px 36px;
  border: 1px solid black;
}

.skills-section{
  flex: 2;
}
.skills-section .Skills-container{
  width: 100%;
  height: 80%;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.skills-section .Skills-container h2{
  align-self: center;
}
.skills-section .Skills-container .Skills-grid{
  align-self: center;
  flex: 1;
  align-self: center;
  display: grid;
  /* width: 100%; */
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  grid-template-rows:repeat(3,150px);
  grid-template-columns: repeat(3,1fr);
  /* background-color: beige; */
}

.skills-section .Skills-container .Skills-grid .skill-item img{
  height: 100px;
  width: 100px;
}
.skills-section .Skills-container .Skills-grid .skill-item figcaption{
text-align: center;
}



.projects-section{
  align-self: center;
  justify-self: center;
  flex: 1 0 100vh;
  height: 100vh;
  /* overflow: hidden; */
}
.projects-section .projects-container{
  width: 100%;
  height: 80%;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.projects-section .projects-container h2{
  flex: 0 0 5vh;
  align-self: center;
}
.projects-section .projects-container .projects-grid{
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.projects-section .projects-container .projects-grid .project-section
{
  display: grid;
  grid-template-columns: 46px 1fr 46px;
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: "prevproject projectitem nextproject";
  grid-gap: 5px;
  width: 100%;
}
.projects-section .projects-container .projects-grid .project-section .prevProject{
  grid-area: prevproject;
  align-self: center;
  height: 36px;
  width: 36px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./assets/images/icons8-arrow-64_L.png");
  margin: 10px;
  border: none;
  /* mix-blend-mode: saturation; */
  /* filter: saturate(2); */
  cursor: pointer;

}
.projects-section .projects-container .projects-grid .project-section .nextProject{
  grid-area: nextproject;
  justify-self: center;
  align-self: center;
  height: 36px;
  width: 36px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./assets/images/icons8-arrow-64_R.png");
  margin: 10px;
  border: none;
  /* mix-blend-mode: saturation;
  filter: saturate(2); */
  cursor: pointer;

}


.projects-section .projects-container .projects-grid .project-item{
  grid-area: projectitem;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  color: black;
  border-radius: 20px;
}

.projects-section .projects-container .projects-grid .project-item  button{
  height: 36px;
  width: 36px;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin: 10px;
  border: none;
  
}
.projects-section .projects-container .projects-grid .project-item  .prevImage{
  background-image: url("./assets/images/icons8-arrow-64_L.png");  
}
.projects-section .projects-container .projects-grid .project-item  .nextImage
{
  background-image: url("./assets/images/icons8-arrow-64_R.png");
}
.projects-section .projects-container .projects-grid .project-item .project {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}
.projects-section .projects-container .projects-grid .project-item .project img{
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
}
.projects-section .projects-container .projects-grid .project-item h3,
.projects-section .projects-container .projects-grid .project-item p{
text-align: center;
}


.tooltip-next-project,
.tooltip-prev-project,
.tooltip-prev-image,
.tooltip-next-image,
.tooltip-show-github
{
  position: relative;
}
.tooltip-next-project::after,
.tooltip-prev-project::after,
.tooltip-prev-image::after,
.tooltip-next-image::after,
.tooltip-show-github::after{
  
  display: none; /* Hide the tooltip by default */ 
  position: absolute; /* Position the tooltip relative to the button */ 
  bottom: 100%; /* Position the tooltip above the button */ 
   
  transform: translateX(-50%); /* Center the tooltip horizontally */ 
  background-color: #000; /* Tooltip background color */ 
  color: #fff; /* Tooltip text color */ 
  padding: 5px; /* Add some padding to the tooltip */ 
  border-radius: 5px; /* Add rounded corners to the tooltip */ 
  white-space: nowrap; /* Prevent line breaks in tooltip text */
}
.tooltip-next-project::after{
  content: "next project"; /* The text to show in the tooltip */ 
  left: 90%; /* Center the tooltip horizontally */
}
.tooltip-prev-project::after{
  content: "previous project"; /* The text to show in the tooltip */ 
  left: -30%; /* Center the tooltip horizontally */
}
.tooltip-prev-image::after{
  content: "previous image"; /* The text to show in the tooltip */ 
  left: 90%; /* Center the tooltip horizontally */
}
.tooltip-next-image::after{
  content: "next image"; /* The text to show in the tooltip */ 
  left: 90%; /* Center the tooltip horizontally */
}
.tooltip-show-github::after{
  content: "click to view github repo";
  bottom: 50%;
  left: 50%; /* Center the tooltip horizontally */
}
.tooltip-next-project:hover::after,
.tooltip-prev-project:hover::after,
.tooltip-prev-image:hover::after,
.tooltip-next-image:hover::after,
.tooltip-show-github:hover::after { 
  display: block; /* Show the tooltip when hovering over the button */ 
} 